header{
  background-color: #1f52fa;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  h1{
    font-size: 150%;
    color: white
    


  }

  form{


   .search_input{
    background: #3c68fa;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    color: rgb(235, 233, 233);
    border: 1px darkgray solid;
    width: 125px;
  }
  .search_button{
    background: #3c68fa;
    border: 1px darkgrey solid;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    color: rgb(235, 233, 233);

    
  }
}

  
}